/* Special styling rules for accessible mode */
.accessible {
    &.font-size-level-1 { font-size: 105%; }
    &.font-size-level-2 { font-size: 110%; }
    &.font-size-level-3 { font-size: 135%; }
    &.font-size-level-4 { font-size: 150%; }
    &.font-size-level-5 { font-size: 170%; }
    font-weight: 500;
    

    label.label {
        text-transform: uppercase;
    }

    h1, h2, h3, h4, h5, h6 { text-transform: uppercase }

    .form-group {
        margin-bottom: 2rem;
    }

    .primary-links .nav-item .nav-link {
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .btn {
        font-weight: 500;
        letter-spacing: .15rem;
        text-transform: uppercase;
    }

    .btn.btn-primary { background: darken($primary, 15%) !important }
    .btn.btn-danger { background: darken($danger, 15%) !important }
}
